<div class="container">
    <h4>История компании</h4>
</div>
<!-- Заголовок -->
<div class="container">
    <div class="row">
        <div class="col-xl-9">
            <p>Строительная компания «KG ГРУПП» начала свою деятельность в 2011 — году в качестве генерального
                подрядчика, осуществляет весь спектр строительных работ на территории Кыргызской Республики. Компания,
                за небольшой период и в результате  время активной работы сумела пополнить ряды самых успешных и
                стабильных компаний на рынке строительства.</p>
                <p>
                Основной целью «KG ГРУПП» является, строительство надежных, качественных и красивых жилых зданий,
                которые, могли бы значительно изменить как внешний облик города, так и жизнь домовладельцев внутри нее.
                Особое значение придается именно безопасному проживанию владельцев квартир и потому используются только
                качественные строительные материалы. Другой немаловажной целью является, создание новых рабочих мест, с
                целью возврата трудовых мигрантов, возвращение которых, необходимо нам для того, чтобы сохранить нацию,
                единство, независимость страны и патриотизм кыргызского народа.</p>
                <p>
                Штат компании сформирован из дипломированных специалистов всех строительных специальностей, готовых не
                только быстро строить, но и обеспечивать высокое качество выполняемых работ.</p>
                <p>
                Еще одной отличительной стороной «KG ГРУПП» от других строительных компаний, является то, что «KG ГРУПП»
                одним из первых инициирует и продвигает социальную жилищную программу для социально-уязвимых слоев
                населения. В рамках которого, было реализовано более 500 квартир, или каждую четвертым работникам
                бюджетных организаций и трудовым мигрантам по доступным, льготным ценам</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="sl_1">
        {% for video in videos %}
        <a href="{{ video.video.url }}" class="html5lightbox">
            <div class="sl_slide">
                <h5 class="video_header">{{ video.title }}</h5>
                <img src="{{ video.image.url }}">
            </div>
        </a>
        {% endfor %}
    </div>
</div>