<div class="container">
    <h4>Компаниянын тарыхы</h4>
</div>
<!-- Заголовок -->
<div class="container">
    <div class="row">
        <div class="col-xl-9">
            <p>"KG ГРУПП" курулуш компаниясы өз ишин 2011-жылы башкы подрядчик катары баштаган, Кыргыз Республикасынын
                аймагында курулуш иштеринин бардык спектрин жүзөгө ашырат. Компания аз убакыттын ичинде жана жигердүү
                ишинин натыйжасында курулуш рыногунда эң ийгиликтүү жана туруктуу компаниялардын катарын толуктай алды.</p>
                <p>
                "КG ГРУППтун" негизги максаты шаардын тышкы көрүнүшүн да, анын ичиндеги үй ээлеринин жашоосун да олуттуу
                өзгөртө алган ишенимдүү, сапаттуу жана татынакай турак жай имараттарын куруу болуп саналат. Батир
                ээлеринин коопсуз жашашына өзгөчө маани берилет жана ошон үчүн сапатуу курулуш материалдары гана
                колдонулат. Башка бир кыйла маанилүү максаты эмгек мигранттарын кайтаруу максатында, жаңы жумушчу
                орундарын түзүү болуп саналат, улутту, өлкөнүн биримдигин, көз карансыздыгын жана кыргыз элинин
                мекенчилдигин сактоо үчүн алардын кайтуусу бизге зарыл.</p>
                <p>
                Компаниянын штаты тез курууга гана эмес, аткарылган иштердин сапатын камсыздоого даяр болгон бардык
                курулуш адистигинин дипломдуу адистеринен куралган.</p>
                <p>
                "KG ГРУППтун" башка курулуш компанияларынан дагы бир айырмаланган тарабы "KG ГРУПП" калктын социалдык
                аярлуу катмары үчүн социалдык турак жай программасын биринчилерден болуп демилгелейт жана өнүктүрөт.
                Анын алкагында, жеткиликтүү, арзан баада бюджеттик уюмдардын ар бир төртүнчү кызматкерине жана эмгек
                мигранттарына 500 ашык батир сатылды</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="sl_1">
        {% for video in videos_kg %}
        <a href="{{ video.video.url }}" class="html5lightbox">
            <div class="sl_slide">
                <h5 class="video_header">{{ video.title_kg }}</h5>
                <img src="{{ video.image.url }}">
            </div>
        </a>
        {% endfor %}
    </div>
</div>