<div class="container ">
    <div class="col-xl-12 col-lg-12 col-md-12 installment_back">
        <div class="col-xl-5 col-lg-6 col-md-12">
            <div class="form_installment">
                <h5>Квартира в рассрочку</h5>
                <p>Вы можете оформить беспроцентную
                    рассрочку от KG ГРУПП на срок до окончания строительства быстро и без переплат!</p>
                <p class="header_int">Стоимость квартиры в сомах</p>
                <p class="installment_price_new"><input type="text" id="stoimost" value="" placeholder="Введите сумму"></p>
                <ul class="filter_int">
                    
                    <li class="installment_price">
                        <p>Первоначальный взнос (%)</p>
                        <input type="text" id="pervo" value="" placeholder="%">
                    </li>
                    <li class="installment_price">
                        <p>Срок рассрочки в мес.</p>
                        <input type="text" id="srok" value="" placeholder=" мес">
                    </li>
                </ul>
                <input type="submit"  value="Расчитать график выплат" onclick="raschitat();">
                
                <div id="ploschad"></div>
            </div>
            
        </div>
    </div>
</div>