{% if object.frame %}
<iframe src="{{ object.frame }}" onload="this.width=screen.width;this.height=screen.height;" frameborder="0" width="1360" height="768">Browser not compatible.</iframe>
{% else %}
 
{% endif %}
<!-- <div class="container"> -->
        <!-- Заголовок -->
        <!-- <h4>Подобрать квартиру</h4> -->
        <!-- Заголовок -->
     <!-- <ul class="filter">

            <li class="number_of_rooms">
                <p>Кол-во комнат</p>
                <select id="numberRoom">
                     <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                </select>
            </li>
            <li class="number_of_rooms" >
                <p>Выберите этаж</p>
                <select id="numberFloor">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </li>
            <li class="apartment_price">
                <p>Стоимость квартиры от (сом)</p>
                <input type="text" placeholder="от">
            </li>
            <li class="before_price">
                <p>До</p>
                <input type="text" placeholder="до">
            </li>
            <li class="result"><input type="submit" value="Показать результаты" id="showResult"></li>
        </ul> -->
    <!-- </div> -->


    <!-- <iframe src="http://test1.webhost.kg//shabdan/shabdan.html" id="mainIframe1" onload="this.width=screen.width;this.height=screen.height;" frameborder="0" width="1360" height="768" style="display: block;">Browser not compatible.</iframe>
      
       -->