<div class="container">
    <h4>Строящиеся объекты</h4>
</div>
<!-- Заголовок -->
<div class="container ">
    <div class="row object_in_progress_collumn">
       
            {% for object in progress_objects %}
            <div class="col-xl-4 col-lg-4 col-md-6">
                <a href="{{ object.get_absolute_url }}">
                    <img src="{{ object.mini_image.url }}"> <!-- Картинка объектов -->
                    <div class="desc">
                        <h6>{{ object.object_name }}</h6> <!-- Заголовок объектов -->
                        <p>{{ object.title }}</p> <!-- Описание объектов -->
                    </div>
                </a>
            </div>
            {% endfor %}
        
    </div>
</div>