<div class="container">
    <h4>Издөө </h4>
    <ul class="filter">
        <li class="apartment_price">
            <p>Квартиранын наркы баштап (сом)</p>
            <input type="text" placeholder="Баштап">
        </li>
        <li class="before_price">
            <p>Чейин</p>
            <input type="text" placeholder="Чейин">
        </li>
        <li class="number_of_rooms">
            <p>Бөлмөнүн саны</p>
            <select>
                <option>3</option>
                <option>2</option>
                <option>1</option>
            </select>
        </li>
        <li class="status">
            <p>Статусту тандагыла жыйынтык</p>
            <select id="status_select">
                <option>Бүткөн имараттар</option>
                <option>Курулуп жаткан имараттар</option>
            </select>
        </li>
        <li class="result"><input type="submit" value="Жыйынтык" onclick="mySearchKg()"></li>
    </ul>
</div>
<div class="container" style="visibility: hidden; height:0" id="result">
    <h4>Издөө жыйынтыгы</h4>
     <div class="row object_collumn" style="visibility: hidden; height:0" id="progress">
        {% for object in progress_objects_kg %}
            <div class="col-xl-3 col-lg-3 col-md-6">
                <a href="{{ object.get_absolute_kg_url }}">
                    <img src="{{ object.mini_image.url }}">
                    <h6>{{ object.object_name_kg }}</h6>
                    <p>{{ object.title_kg }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row object_collumn" style="visibility: hidden; height:0" id="ready">
        {% for object in ready_objects_kg %}
            <div class="col-xl-3 col-lg-3 col-md-6">
                <a href="{{ object.get_absolute_kg_url }}">
                    <img src="{{ object.mini_image.url }}">
                    <h6>{{ object.object_name_kg }}</h6>
                    <p>{{ object.title_kg }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</div>