article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {
display:block;
}

audio,canvas,video {
display:inline;
zoom:1;
}

audio:not([controls]) {
display:none;
height:0;
}

[hidden] {
display:none;
}

html {
font-size:100%;
-webkit-text-size-adjust:100%;
-ms-text-size-adjust:100%;
}

html,button,input,select,textarea {
font-family:sans-serif;
}

body {
margin:0;
}

a:focus {
outline:thin dotted;
}

a:active,a:hover {
outline:0;
}

h1 {
font-size:2em;
margin:.67em 0;
}

h2 {
font-size:1.5em;
margin:.83em 0;
}

h3 {
font-size:1.17em;
margin:1em 0;
}

h4 {
font-size:1em;
margin:1.33em 0;
}

h5 {
font-size:.83em;
margin:1.67em 0;
}

h6 {
font-size:.75em;
margin:2.33em 0;
}

abbr[title] {
border-bottom:1px dotted;
}

b,strong {
font-weight:bold;
}

blockquote {
margin:1em 40px;
}

dfn {
font-style:italic;
}

mark {
background:#ff0;
color:#000;
}

p,pre {
margin:1em 0;
}

code,kbd,pre,samp {
font-family:monospace, serif;
_font-family:'courier new', monospace;
font-size:1em;
}

pre {
white-space:pre-wrap;
word-wrap:break-word;
}

q {
quotes:none;
}

q:before,q:after {
content:none;
}

small {
font-size:80%;
}

sub,sup {
font-size:75%;
line-height:0;
position:relative;
vertical-align:baseline;
}

sup {
top:-.5em;
}

sub {
bottom:-.25em;
}

dl,menu,ol,ul {
margin:1em 0;
}

dd {
margin:0 0 0 40px;
}

menu,ol,ul {
padding:0 0 0 40px;
}

nav ul,nav ol {
list-style:none;
list-style-image:none;
}

img {
border:0;
-ms-interpolation-mode:bicubic;
}

svg:not(:root) {
overflow:hidden;
}

figure {
margin:0;
}

form {
margin:0;
}

fieldset {
border:1px solid #c0c0c0;
margin:0 2px;
padding:.35em .625em .75em;
}

legend {
border:0;
white-space:normal;
margin-left:-7px;
padding:0;
}

button,input,select,textarea {
font-size:100%;
vertical-align:middle;
margin:0;
}

button,input {
line-height:normal;
}

button,html input[type=button],/* 1 */
input[type=reset],input[type=submit] {
-webkit-appearance:button;
cursor:pointer;
overflow:visible;
}

button[disabled],input[disabled] {
cursor:default;
}

input[type=checkbox],input[type=radio] {
box-sizing:border-box;
height:13px;
width:13px;
padding:0;
}

input[type=search] {
-webkit-appearance:textfield;
-moz-box-sizing:content-box;
-webkit-box-sizing:content-box;
box-sizing:content-box;
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration {
-webkit-appearance:none;
}

button::-moz-focus-inner,input::-moz-focus-inner {
border:0;
padding:0;
}

textarea {
overflow:auto;
vertical-align:top;
}

table {
border-collapse:collapse;
border-spacing:0;
}





/*! fancyBox 3.0.0 Beta 1 fancyapps.com | fancyapps.com/fancybox/#license */
#fancybox-loading,
#fancybox-lock,
.fancybox-wrap,
.fancybox-skin,
.fancybox-inner,
.fancybox-error,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-wrap embed,
a.fancybox-close,
a.fancybox-expand,
a.fancybox-nav,
a.fancybox-nav span,
.fancybox-tmp
{
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: none;
    text-shadow: none;
}

#fancybox-lock {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8020;
    overflow-y: scroll;
    overflow-y: auto;
    overflow-x: auto;

    -webkit-transition : -webkit-transform 0.5s;
    -webkit-transform  : translateX(0px);
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
    -webkit-transform: translate3d(0,0,0);
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-skin {
    border-style: solid;
    border-color: #fff;
    background: #fff;
    color: #444;
}

.fancybox-inner {
    position: relative;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.fancybox-spacer {
    position: absolute;
    top: 100%;
    left: 0;
    width: 1px;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
    zoom: 1;
}

a.fancybox-close {
    top: -70px !important;
    right: -70px !important;
	margin: 0 !important;
    z-index: 8040;
}

a.fancybox-nav {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040;
}

.fancybox-type-iframe a.fancybox-nav,
.fancybox-type-inline a.fancybox-nav,
.fancybox-type-html a.fancybox-nav
 {
    width: 100px;
}

a.fancybox-prev {
    left: -80px;
}

a.fancybox-next {
    right: -80px;
}

a.fancybox-nav span {   
    z-index: 8040;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

a.fancybox-prev span {
    left: 0 !important;	
}

a.fancybox-next span {
    right: 0 !important;
}

.fancybox-mobile  a.fancybox-nav {
    max-width: 100px;
}


a.fancybox-expand {
	display: none !important;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 46px;
    height: 46px;
    z-index: 8050;
    opacity: 0;  filter: alpha(opacity=0);
    background-position: 0 -150px;
    zoom: 1;
    -webkit-transition: opacity .5s ease;
       -moz-transition: opacity .5s ease;
         -o-transition: opacity .5s ease;
            transition: opacity .5s ease;
}

.fancybox-wrap:hover a.fancybox-expand {
    opacity: 0.5;  filter: alpha(opacity=50);
}

.fancybox-wrap a.fancybox-expand:hover {
    opacity: 1;  filter: alpha(opacity=100);
}

#fancybox-loading {
    position: fixed !important;
    z-index: 8060;
}

.fancybox-tmp {
    position: absolute !important;
    top: -99999px;
    left: -99999px;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

.fancybox-title {
    font: normal 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5;
    position: relative;
    text-shadow: none;
    z-index: 8050;
    display: block;
    visibility: hidden;
}

.fancybox-title-float-wrap {
    position: relative;
    margin-top: 10px;
    text-align: center;

    zoom: 1;
    left: -9999px;
}

.fancybox-title-float-wrap > div {
    display: inline-block;
    padding: 7px 20px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 1px 2px #222;
    background: transparent; background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
            border-radius: 15px;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #ddd;
	text-align: center;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 15px;
    background: #000; background: rgba(0, 0, 0, .8);
    max-height: 50%;
    overflow: auto;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 8010;
}

.fancybox-overlay-fixed {
    position: fixed;
    width: 100%;
    height: 100%;
}

/* Default theme */
.fancybox-default-skin {
    border-color: #f9f9f9;
    background: #f9f9f9;
}

.fancybox-default-skin-open {
   
}

.fancybox-default a.fancybox-expand {
	background-image: url('../i/sprite.png');
}







.jspContainer
{
	position: relative;
}

.jspPane
{
	position: absolute;
	background: url('../i/blank.gif');
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: -45px;
	width: 0px;
	height: 100%;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0 !important;
}

.jspVerticalBar .jspCap
{
	height: 10px;
	display: none;
	background: #F00;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	position: relative;
}

.jspDrag
{
	background: #8c8276;
	position: relative;
	width: 7px;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}

/*!
Video.js Default Styles (http://videojs.com)
Version 4.6.3
Create your own skin at http://designer.videojs.com
*/.vjs-default-skin{color:#ccc}@font-face{font-family:VideoJS;src:url(font/vjs.eot);src:url(font/vjsd41d.eot?#iefix) format('embedded-opentype'),url(font/vjs.woff) format('woff'),url(font/vjs.ttf) format('truetype');font-weight:400;font-style:normal}.vjs-default-skin .vjs-slider{outline:0;position:relative;cursor:pointer;padding:0;background-color:#333;background-color:rgba(51,51,51,.9)}.vjs-default-skin .vjs-slider:focus{-webkit-box-shadow:0 0 2em #fff;-moz-box-shadow:0 0 2em #fff;box-shadow:0 0 2em #fff}.vjs-default-skin .vjs-slider-handle{position:absolute;left:0;top:0}.vjs-default-skin .vjs-slider-handle:before{content:"\e009";font-family:VideoJS;font-size:1em;line-height:1;text-align:center;text-shadow:0 0 1em #fff;position:absolute;top:0;left:0;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}.vjs-default-skin .vjs-control-bar{display:none;position:absolute;bottom:0;left:0;right:0;height:3em;background-color:#07141e;background-color:rgba(7,20,30,.7)}.vjs-default-skin.vjs-has-started .vjs-control-bar{display:block;visibility:visible;opacity:1;-webkit-transition:visibility .1s,opacity .1s;-moz-transition:visibility .1s,opacity .1s;-o-transition:visibility .1s,opacity .1s;transition:visibility .1s,opacity .1s}.vjs-default-skin.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar{display:block;visibility:hidden;opacity:0;-webkit-transition:visibility 1s,opacity 1s;-moz-transition:visibility 1s,opacity 1s;-o-transition:visibility 1s,opacity 1s;transition:visibility 1s,opacity 1s}.vjs-default-skin.vjs-controls-disabled .vjs-control-bar{display:none}.vjs-default-skin.vjs-using-native-controls .vjs-control-bar{display:none}.vjs-default-skin.vjs-error .vjs-control-bar{display:none}@media \0screen{.vjs-default-skin.vjs-user-inactive.vjs-playing .vjs-control-bar :before{content:""}}.vjs-default-skin .vjs-control{outline:0;position:relative;float:left;text-align:center;margin:0;padding:0;height:3em;width:4em}.vjs-default-skin .vjs-control:before{font-family:VideoJS;font-size:1.5em;line-height:2;position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;text-shadow:1px 1px 1px rgba(0,0,0,.5)}.vjs-default-skin .vjs-control:focus:before,.vjs-default-skin .vjs-control:hover:before{text-shadow:0 0 1em #fff}.vjs-default-skin .vjs-control:focus{}.vjs-default-skin .vjs-control-text{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.vjs-default-skin .vjs-play-control{width:5em;cursor:pointer}.vjs-default-skin .vjs-play-control:before{content:"\e001"}.vjs-default-skin.vjs-playing .vjs-play-control:before{content:"\e002"}.vjs-default-skin .vjs-playback-rate .vjs-playback-rate-value{font-size:1.5em;line-height:2;position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;text-shadow:1px 1px 1px rgba(0,0,0,.5)}.vjs-default-skin .vjs-playback-rate.vjs-menu-button .vjs-menu .vjs-menu-content{width:4em;left:-2em;list-style:none}.vjs-default-skin .vjs-mute-control,.vjs-default-skin .vjs-volume-menu-button{cursor:pointer;float:right}.vjs-default-skin .vjs-mute-control:before,.vjs-default-skin .vjs-volume-menu-button:before{content:"\e006"}.vjs-default-skin .vjs-mute-control.vjs-vol-0:before,.vjs-default-skin .vjs-volume-menu-button.vjs-vol-0:before{content:"\e003"}.vjs-default-skin .vjs-mute-control.vjs-vol-1:before,.vjs-default-skin .vjs-volume-menu-button.vjs-vol-1:before{content:"\e004"}.vjs-default-skin .vjs-mute-control.vjs-vol-2:before,.vjs-default-skin .vjs-volume-menu-button.vjs-vol-2:before{content:"\e005"}.vjs-default-skin .vjs-volume-control{width:5em;float:right}.vjs-default-skin .vjs-volume-bar{width:5em;height:.6em;margin:1.1em auto 0}.vjs-default-skin .vjs-volume-menu-button .vjs-menu-content{height:2.9em}.vjs-default-skin .vjs-volume-level{position:absolute;top:0;left:0;height:.5em;width:100%;background:#66a8cc url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) -50% 0 repeat}.vjs-default-skin .vjs-volume-bar .vjs-volume-handle{width:.5em;height:.5em;left:4.5em}.vjs-default-skin .vjs-volume-handle:before{font-size:.9em;top:-.2em;left:-.2em;width:1em;height:1em}.vjs-default-skin .vjs-volume-menu-button .vjs-menu .vjs-menu-content{width:6em;left:-4em}.vjs-default-skin .vjs-progress-control{position:absolute;left:0;right:0;width:auto;font-size:.3em;height:1em;top:-1em;-webkit-transition:all .4s;-moz-transition:all .4s;-o-transition:all .4s;transition:all .4s}.vjs-default-skin:hover .vjs-progress-control{font-size:.9em;-webkit-transition:all .2s;-moz-transition:all .2s;-o-transition:all .2s;transition:all .2s}.vjs-default-skin .vjs-progress-holder{height:100%}.vjs-default-skin .vjs-progress-holder .vjs-play-progress,.vjs-default-skin .vjs-progress-holder .vjs-load-progress{position:absolute;display:block;height:100%;margin:0;padding:0;width:0;left:0;top:0}.vjs-default-skin .vjs-play-progress{background:#66a8cc url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAP0lEQVQIHWWMAQoAIAgDR/QJ/Ub//04+w7ZICBwcOg5FZi5iBB82AGzixEglJrd4TVK5XUJpskSTEvpdFzX9AB2pGziSQcvAAAAAAElFTkSuQmCC) -50% 0 repeat}.vjs-default-skin .vjs-load-progress{background:#646464;background:rgba(255,255,255,.4)}.vjs-default-skin .vjs-seek-handle{width:1.5em;height:100%}.vjs-default-skin .vjs-seek-handle:before{padding-top:.1em}.vjs-default-skin.vjs-live .vjs-time-controls,.vjs-default-skin.vjs-live .vjs-time-divider,.vjs-default-skin.vjs-live .vjs-progress-control{display:none}.vjs-default-skin.vjs-live .vjs-live-display{display:block}.vjs-default-skin .vjs-live-display{display:none;font-size:1em;line-height:3em}.vjs-default-skin .vjs-time-controls{font-size:1em;line-height:3em}.vjs-default-skin .vjs-current-time{float:left}.vjs-default-skin .vjs-duration{float:left}.vjs-default-skin .vjs-remaining-time{display:none;float:left}.vjs-time-divider{float:left;line-height:3em}.vjs-default-skin .vjs-fullscreen-control{width:3.8em;cursor:pointer;float:right}.vjs-default-skin .vjs-fullscreen-control:before{content:"\e000"}.vjs-default-skin.vjs-fullscreen .vjs-fullscreen-control:before{content:"\e00b"}.vjs-default-skin .vjs-big-play-button{left:50%;top:50%;margin:-1.4em 0 0 -2.1em;font-size:3em;display:block;z-index:2;position:absolute;width:4em;height:2.6em;text-align:center;vertical-align:middle;cursor:pointer;opacity:1;background-color:#07141e;background-color:rgba(7,20,30,.7);border:.1em solid #3b4249;-webkit-border-radius:.8em;-moz-border-radius:.8em;border-radius:.8em;-webkit-box-shadow:0 0 1em rgba(255,255,255,.25);-moz-box-shadow:0 0 1em rgba(255,255,255,.25);box-shadow:0 0 1em rgba(255,255,255,.25);-webkit-transition:all .4s;-moz-transition:all .4s;-o-transition:all .4s;transition:all .4s}.vjs-default-skin.vjs-big-play-centered .vjs-big-play-button{left:50%;margin-left:-2.1em;top:50%;margin-top:-1.4000000000000001em}.vjs-default-skin.vjs-controls-disabled .vjs-big-play-button{display:none}.vjs-default-skin.vjs-has-started .vjs-big-play-button{display:none}.vjs-default-skin.vjs-using-native-controls .vjs-big-play-button{display:none}.vjs-default-skin:hover .vjs-big-play-button,.vjs-default-skin .vjs-big-play-button:focus{outline:0;border-color:#fff;background-color:#505050;background-color:rgba(50,50,50,.75);-webkit-box-shadow:0 0 3em #fff;-moz-box-shadow:0 0 3em #fff;box-shadow:0 0 3em #fff;-webkit-transition:all 0s;-moz-transition:all 0s;-o-transition:all 0s;transition:all 0s}.vjs-default-skin .vjs-big-play-button:before{content:"\e001";font-family:VideoJS;line-height:2.6em;text-shadow:.05em .05em .1em #000;text-align:center;position:absolute;left:0;width:100%;height:100%}.vjs-error .vjs-big-play-button{display:none}.vjs-error-display{display:none}.vjs-error .vjs-error-display{display:block;position:absolute;left:0;top:0;width:100%;height:100%}.vjs-error .vjs-error-display:before{content:'X';font-family:Arial;font-size:4em;color:#666;line-height:1;text-shadow:.05em .05em .1em #000;text-align:center;vertical-align:middle;position:absolute;top:50%;margin-top:-.5em;width:100%}.vjs-error-display div{position:absolute;font-size:1.4em;text-align:center;bottom:1em;right:1em;left:1em}.vjs-error-display a,.vjs-error-display a:visited{color:#F4A460}.vjs-loading-spinner{display:none;position:absolute;top:50%;left:50%;font-size:4em;line-height:1;width:1em;height:1em;margin-left:-.5em;margin-top:-.5em;opacity:.75;-webkit-animation:spin 1.5s infinite linear;-moz-animation:spin 1.5s infinite linear;-o-animation:spin 1.5s infinite linear;animation:spin 1.5s infinite linear}.video-js.vjs-error .vjs-loading-spinner{display:none!important;-webkit-animation:none;-moz-animation:none;-o-animation:none;animation:none}.vjs-default-skin .vjs-loading-spinner:before{content:"\e01e";font-family:VideoJS;position:absolute;top:0;left:0;width:1em;height:1em;text-align:center;text-shadow:0 0 .1em #000}@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(359deg)}}@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}@-o-keyframes spin{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(359deg)}}@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}.vjs-default-skin .vjs-menu-button{float:right;cursor:pointer}.vjs-default-skin .vjs-menu{display:none;position:absolute;bottom:0;left:0;width:0;height:0;margin-bottom:3em;border-left:2em solid transparent;border-right:2em solid transparent;border-top:1.55em solid #000;border-top-color:rgba(7,40,50,.5)}.vjs-default-skin .vjs-menu-button .vjs-menu .vjs-menu-content{display:block;padding:0;margin:0;position:absolute;width:10em;bottom:1.5em;max-height:15em;overflow:auto;left:-5em;background-color:#07141e;background-color:rgba(7,20,30,.7);-webkit-box-shadow:-.2em -.2em .3em rgba(255,255,255,.2);-moz-box-shadow:-.2em -.2em .3em rgba(255,255,255,.2);box-shadow:-.2em -.2em .3em rgba(255,255,255,.2)}.vjs-default-skin .vjs-menu-button:hover .vjs-menu{display:block}.vjs-default-skin .vjs-menu-button ul li{list-style:none;margin:0;padding:.3em 0;line-height:1.4em;font-size:1.2em;text-align:center;text-transform:lowercase}.vjs-default-skin .vjs-menu-button ul li.vjs-selected{background-color:#000}.vjs-default-skin .vjs-menu-button ul li:focus,.vjs-default-skin .vjs-menu-button ul li:hover,.vjs-default-skin .vjs-menu-button ul li.vjs-selected:focus,.vjs-default-skin .vjs-menu-button ul li.vjs-selected:hover{outline:0;color:#111;background-color:#fff;background-color:rgba(255,255,255,.75);-webkit-box-shadow:0 0 1em #fff;-moz-box-shadow:0 0 1em #fff;box-shadow:0 0 1em #fff}.vjs-default-skin .vjs-menu-button ul li.vjs-menu-title{text-align:center;text-transform:uppercase;font-size:1em;line-height:2em;padding:0;margin:0 0 .3em;font-weight:700;cursor:default}.vjs-default-skin .vjs-subtitles-button:before{content:"\e00c"}.vjs-default-skin .vjs-captions-button:before{content:"\e008"}.vjs-default-skin .vjs-captions-button:focus .vjs-control-content:before,.vjs-default-skin .vjs-captions-button:hover .vjs-control-content:before{-webkit-box-shadow:0 0 1em #fff;-moz-box-shadow:0 0 1em #fff;box-shadow:0 0 1em #fff}.video-js{background-color:#000;position:relative;padding:0;font-size:10px;vertical-align:middle;font-weight:400;font-style:normal;font-family:Arial,sans-serif;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.video-js .vjs-tech{position:absolute;top:0;left:0;width:100%;height:100%}.video-js:-moz-full-screen{position:absolute}body.vjs-full-window{padding:0;margin:0;height:100%;overflow-y:auto}.video-js.vjs-fullscreen{position:fixed;overflow:hidden;z-index:1000;left:0;top:0;bottom:0;right:0;width:100%!important;height:100%!important;_position:absolute}.video-js:-webkit-full-screen{width:100%!important;height:100%!important}.video-js.vjs-fullscreen.vjs-user-inactive{cursor:none}.vjs-poster{background-repeat:no-repeat;background-position:50% 50%;background-size:contain;cursor:pointer;height:100%;margin:0;padding:0;position:relative;width:100%}.vjs-poster img{display:block;margin:0 auto;max-height:100%;padding:0;width:100%}.video-js.vjs-using-native-controls .vjs-poster{display:none}.video-js .vjs-text-track-display{text-align:center;position:absolute;bottom:4em;left:1em;right:1em}.video-js.vjs-user-inactive.vjs-playing .vjs-text-track-display{bottom:1em}.video-js .vjs-text-track{display:none;font-size:1.4em;text-align:center;margin-bottom:.1em;background-color:#000;background-color:rgba(0,0,0,.5)}.video-js .vjs-subtitles{color:#fff}.video-js .vjs-captions{color:#fc6}.vjs-tt-cue{display:block}.vjs-default-skin .vjs-hidden{display:none}.vjs-lock-showing{display:block!important;opacity:1;visibility:visible}.vjs-no-js{padding:20px;color:#ccc;background-color:#333;font-size:18px;font-family:Arial,sans-serif;text-align:center;width:300px;height:150px;margin:0 auto}.vjs-no-js a,.vjs-no-js a:visited{color:#F4A460}





.g_s_frame, .g_s, .g_s_area, .g_btn_area, .gallery_place {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.g_img {
	position: absolute;
	top: 50%;
	left: 50%;
}
.mobile_gallery * {
	-webkit-backface-visibility: hidden;
}
.g_s_area {
	cursor: pointer;
	background: url('../i/blank.gif');
}
#g_s_l {
	left: -100%;
}
#g_s_r {
	left: 100%;
}
.g_btn_area {
	cursor: pointer;
	width: 30%;
	background: url('../i/blank.gif');
}
.g_btn_area.right {
	left: auto;
	right: 0;
}
.g_btn, .g_p_btn {
	position: absolute;
	width: 50px;
	height: 50px;
	background: #000;
	cursor: pointer;
	top: 50%;
	margin-top: -25px;
}
.g_btn.left {
	left: 5%;
}		
.g_btn.right {
	right: 5%;
}
.g_p_btn {
	top: auto;
	bottom: 5%;
	margin-bottom: 50px;
}
.g_p_btn.left {
	left: 50%;
	margin-left: -500px;
}
.g_p_btn.right {
	right: 50%;
	margin-right: -500px;
}
.vertical_previews .g_btn.left {
	margin-left: 200px;
}
.g_p_frame {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 5%;
	overflow: hidden;
}
.vertical_previews .g_p_frame {
	left: 5%;
	top: 0;
	bottom: auto;
	height: 100%;
	width: auto;
}
.g_p_scroll {
	position: relative;
	width: 10000px;
	left: 50%;
	overflow: hidden;
}
.vertical_previews .g_p_scroll {
	width: auto;
	left: auto;
	top: 50%;
}
.g_p {
	position: relative;
	float: left;
	cursor: pointer;
}
.g_p_img {
	display: block;
	position: relative;
	margin: 10px;
}
.g_p_bg {
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	background: #fff;
	display: none;
}
.g_p.active .g_p_bg {
	display: block;
}
.vertical_previews .g_p {
	float: none;
}
.vertical_previews .g_p_img {
	margin: 0;
}
.vertical_previews .g_p.active:after {
	content: '';
	border: 5px solid #fff;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}





.param_search_frame {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
    background: #536880;
}
.search_logo {
	position: absolute;
	top: 40%;
	left: 50%;
	margin: -150px 0 0 -500px;
	font-size: 46px;
	line-height: 48px;
	color: #fff;
}
.search_left, .search_right {
	position: absolute;
	top: 50%;
}
.search_left {	
    left: 45%;
	width: 371px;
	margin: -130px 0 0 -440px;
}
.search_right, .search_result_tab tr.r_notfound td {	
	width: 560px;
}
.search_right {
    left: 55%;
	margin: -195px 0 0 -70px;
}
.search_slider {
	position: relative;
	height: 56px;
}
.search_slider+.search_slider {
	margin-top: 78px;
}
.search_slider_line, .search_slider_mask {
	position: absolute;
	left: 0px;
	right: 0px;
	height: 56px;
    margin:  0 10px;
	top: 0px;
    background: url('../i/sprite.png') -552px -370px;
}
.search_slider_mask {
    background-position: -552px -306px;
    margin: 0 10px !important;
}
.search_slider_polz_frame {
	position: absolute;
	top: 0;
	height: 100%;
}
.search_slider_polz {
	position: absolute;
	width: 33px;
	height: 80px;
	top: 0px;
	left: 0;
	cursor: pointer;
}
.search_slider_polz.right {
	left: 100%;
}
.search_slider_polz:before {
	content: '';
	display: block;
	position: absolute;
	width: 13px;
	height: 11px;
	bottom: 0;
	left: 10px;
    background: url('../i/sprite.png') -830px -138px;
}
.search_slider_txt {
	position: absolute;
	height: 100%;
	top: 0;
	left: 100%;
	font-size: 52px;
	line-height: 56px;
	color: #fff;
    font-family: 'littera_plainmedium';
    white-space: nowrap;
    margin: 0 10px;
}
.search_slider_txt.left {
    left: auto;
    right: 100%;
}
.search_slider_name {
	position: absolute;
	text-align: center;
	font-size: 16px;
	line-height: 20px;
	top: -28px;
	color: #ffffff;
	left: 0;
	width: 100%;
	text-transform: uppercase;
    font-family: 'littera_plainbook';
}
.search_results {
	position: relative;
	width: 100%;
	height: 415px;
}
.search_header_tab, .search_result_div, .search_preloader {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}
.search_bg tr {
	display: inline-block;
	position: relative;
}
.search_bg td {
	height: 50px;
	vertical-align: middle;
	text-align: center;
	padding: 0;
	margin: 0;
	width: 140px;
	font-size: 30px;
	color: #fff;
    font-family: 'littera_plainmedium';
}
.search_result_div {
	top: 65px;
	bottom: 0;
}
.search_header_tab td {
	position: relative;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 100%;
	cursor: pointer;
    height: 65px;
    font-family: 'littera_plainbook';
}
.search_header_tab td i:after {
	display: none;
	margin-left: 2px;
	font-style: normal;
	color: #fff;
    font-size: 14px;
}
.search_header_tab td.active i:after {
	display: inline;
	content: '▲';
}
.search_header_tab td.active2 i:after {
	display: inline;
	content: '▼';
}
.search_result_tab tr.active {
	cursor: pointer;
}
.search_result_tab tr.active.odd {
    background-color: #63768b;
}
.search_result_tab tr.active:hover {
    background-color: #c05130;
}
.search_result_tab tr.r_notfound td {
	font-size: 22px;
	height: 100px;
}
.search_result_num {
	position: relative;
	font-size: 16px;
	margin-top: 15px;
	color: #b1d4fc;
    font-family: 'littera_plainbook';
}
.search_result_num span {
	color: #fff;
    font-family: 'littera_plainmedium';
}
.search_preloader {
	height: 100%;
	background: rgba(83,104,128,0.8);
	display: none;
}
.search_preloader_circle {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -16px 0 0 -16px;
}
.search_pagination_frame {
	position: relative;
	margin-top: 10px;
	overflow: hidden;
}
.search_pagination {
	position: relative;
	float: left;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
	background: #dedede;
}
.search_pagination.active {
	background: #ffae00;
	color: #fff;
}
.search_pagination+.search_pagination {
	margin-left: 5px;
}
.search_buttons_frame {
	position: relative;
	margin-top: 100px;
}